* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy-Bold';
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
    

.header {
    margin-top: 40px;
    display: flex;
    gap: 500px;
    align-items: center;
}

.header_menu {
    width: 533px;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Gilroy-SemiBold';
}

.header_link {
    font-size: 14px;
    line-height: 16px;
    color: #000000
}
    
.top_content {
    margin-top: 84px;
    margin-bottom: 162px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.title{
    width: 522px;
    margin-bottom: 17px;
    font-size: 60px;
    line-height: 70px;

    color: #000000;
}

.text {
    width: 466px;
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23px;

    color: #888888;
}

.top_button{
    margin-top: 37px;
    display: flex;
    gap: 72px;
    align-items: center;
}

.button {
    background: #F25822;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 15px 35px 16px 36px;
    color: #fff;
    cursor: pointer;
    
}

.video_link {
    font-size: 15px;
    line-height: 18px;

    color: #AAAAAA;
}

.logos {
    padding-top: 97px;
    padding-bottom: 96px;
    background: #FFFFFF;
    display: flex;
    gap: 48px;
}

.content {
    display: grid;
    gap: 61px;
    grid-template-columns: repeat(3, 310px);
    justify-content: space-between;
    padding-top: 140px;
    padding-bottom: 125px;
    align-items: baseline;
}

.item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.item__big {
    background: #FFFFFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    width: 370px;
    height: 291px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.heading {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.item__text {
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    margin-top: 17px;
    margin-bottom: 25px;
    line-height: 150%;

    color: #666666;
}

.item__button {
    font-size: 11px;
    line-height: 150%;
    color: #000000;
}

.item__img {
    margin-bottom: 25px;
}

.secation {
    padding-top: 92px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secation__title {
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 19px;
    color: #000000;
}

.secation__text {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    font-family: 'Gilroy-Regular';
    color: #666666;
    max-width: 682px;
}

.services__info {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    justify-content: center;
    padding-bottom: 100px;
}

.services__item {
    background: #FFFFFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__img {
    margin-bottom: 25px;
}

.secation__title {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.services__text {
    margin-top: 22px;
    margin-bottom: 39px;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    max-width: 310px;
    color: #AAAAAA;
}

.services__button {
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 36px 15px 46px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    border: none;
    margin-bottom: 50px;
}
