* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy-Bold';
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
    

.header {
    margin-top: 40px;
    display: flex;
    gap: 500px;
    align-items: center;
}

.header_menu {
    width: 533px;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Gilroy-SemiBold';
}

.header_link {
    font-size: 14px;
    line-height: 16px;
    color: #000000
}
    
.top_content {
    margin-top: 84px;
    margin-bottom: 162px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.title{
    width: 522px;
    margin-bottom: 17px;
    font-size: 60px;
    line-height: 70px;

    color: #000000;
}

.text {
    width: 466px;
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23px;

    color: #888888;
}

.top_button{
    margin-top: 37px;
    display: flex;
    gap: 72px;
    align-items: center;
}

.button {
    background: #F25822;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 15px 35px 16px 36px;
    color: #fff;
    cursor: pointer;
    
}

.video_link {
    font-size: 15px;
    line-height: 18px;

    color: #AAAAAA;
}

.logos {
    padding-top: 97px;
    padding-bottom: 96px;
    background: #FFFFFF;
    display: flex;
    gap: 48px;
}

